
.bgimg img{
    width: 100%;
}


.descriptionBlog{
padding: 10px;
}

li{
    list-style: none;
    font-weight: bold;
    color: #FFFFFFFF;
    text-align: center;
}
.UserPhoto{
    display: block;
    margin: auto;
}

.gradient_info{
    background: linear-gradient(#00ecff, #9198e5);

}